#msg{ color: red; }

.error-input{border: 1px solid red;}

input{display:flex;}

input[type="radio" i] { display:unset;}

::placeholder {color: blue;}

textarea {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
 }